 * {
    /* background-color: lightskyblue;
    font-family: monospace; */
    text-align: center;
    margin: 0;
} 
nav {
    font-size: larger;
    font-family: monospace;
    text-align: center;
}
#header-img {
   display: flex;
   justify-content: center;
   
   
}

#OrBack {
    background-color: rgb(65, 161, 221);

}
#MainBack {
    background-color: rgb(17, 16, 16);
}
#HeadBack {
    background-color: white;
    color: rgb(15, 102, 202);
}
#FootBack {
    background-color: rgb(5, 5, 5);
    color: whitesmoke;
}
#menu {
    font-style: italic;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    color: white;
}
#Yoshieats, #order-number {
    font-size: 50px;
    text-align: center;
    font-family: monospace, sans-serif;
    text-shadow: 6px 6px 6px rgb(67, 206, 90), 0 0 25px rgb(255, 242, 242), 0 0 5px rgb(32, 131, 189);
    
}

#rows {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
    color: white;
}

p {
   text-align: center; 
}



/* .backgrdimg {
    background-image: url("https://i.pinimg.com/736x/68/35/5c/68355ca402e84e7c447c66011a98d87d.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    height: auto;
} */

.post-image {
    width: 300px;
    height: 300px;
    border: 8px solid rgb(26, 95, 165);
    border-radius: 5%;
    text-align: center;

}

.side-image {
    width: 300px;
    height: 300px;
    border: 3px groove rgb(212, 59, 59);
    border-radius: 50%;
    color: white;
}

figure > p {
    text-align: center;
    /* text-decoration-line: overline underline; */
    /* text-shadow: 2px 2px 5px rgb(36, 147, 167); */
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


figure > img {
    text-align: center;
}

.h3center {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* align-content: center; */
    border: 5px solid black;
    flex-wrap: nowrap;
    /* margin-top: auto; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(47, 226, 71);
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
  }

  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .h3center {
    color: white;
  }

  .orderheads {
    color: black;
  }